.bipa-list {
	list-style: none;
	padding: 0;
	margin: 0px;
	margin-left: 0;

	li {
		display: none;
		text-align: center;

		@media screen and (min-width: $md-bp) {
			display: block;
			text-align: left;
		}

		@for $i from 1 through 9 {
			&:nth-child(#{$i}):before {
				content: "#{$i}";
			}
		}

		&:before {
	    display: inline-block;
	    width: 1.2em;
	    height: 1.2em;
	    margin-right: 0.25em;
	    line-height: 1.4;
	    font-weight: bold;
	    text-align: center;
		}

		&.active {
			display: block;
		  font-weight: bold;


			&:before {
				border-radius: 50%;
				background-color: $bipa-pink;
				color: #fff;
			}
		}
	}
}

.bipa-btn-list {
	list-style: none;
	padding: 0;
	margin: 0px;
	max-width: 375px;
  width: 80%;

	li {

		.bipa-btn {
			width: 100%;
			margin-bottom: 1em;
		}

		&:last-child {
			.bipa-btn {
				margin-bottom: 0;
			}
		}
	}
}

.inline-btns {
	.bipa-btn {
		display: inline-block;
		margin: 0 1em 1em;

	}
}


a.bipa-btn {
	display: inline-block;

	&, &:active, &:link, &:visited, &:focus {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		color: $bipa-pink;
	}
}

.bipa-btn {
  padding: 0.125em 0.25em 0;
	outline: none;
	border: 1px solid $bipa-pink;
	background-color: $bipa-pink;
	color: #fff;
	cursor: pointer;
	line-height: 1.65em;
	text-align: left;
	font-weight: 300;


	&:active, &:focus {
		outline: none;
	}

	.bipa-icon {
		background-color: $bipa-pink;
	}

	&:hover {
		background-color: #fff;
		color: $bipa-pink;
	}

	&.bipa-btn-outline {
		background-color: #fff;
		color: $bipa-pink;

		&:hover {
			background-color: $bipa-pink;
			color: #fff;
		}
	}

	&.bipa-btn-plain {
		border: none;
		background-color: transparent;
		color: $bipa-pink;
		text-decoration: underline;

		&:hover {
			font-weight: 700
		}
	}

	&.bipa-btn-icon {
		position: relative;
		padding-right: 1.75em + 0.25em;

		.bipa-icon {
			position: absolute;
			margin-top: -0.125em;
			height: 1.8em;
			right: 0;

			&:before {
				content: "";
				width: 1px;
				height: 1.8em;
				max-height: 100%;
				background-color: #fff;
				display: block;
				position: absolute;
			}
		}

		&.bipa-btn-outline {
			.bipa-icon {
				background-color: $bipa-pink;
				&:before {
					// display: none;
				}
			}
		}
	}

	&.bipa-btn-single-icon {
		padding: 0;
		width: 1.75em;
		height: 1.75em;

		.bipa-icon {
			background-color: transparent;
		}
	}

	&.bipa-btn-round {
		border-radius: 50%;

		.bipa-icon {
			border-radius: 50%;
		}
	}

	&[disabled] {
		cursor: auto;

		&, .bipa-icon {
			// border-color: adjust-color($bipa-pink, $lightness: 25%, $saturation: -80%);
			// background-color: adjust-color($bipa-pink, $lightness: 25%, $saturation: -80%);
			border-color: rgb(199, 201, 199);
			background-color: rgb(199, 201, 199);
		}
		&:hover {
			color: #fff;
		}
	}
}

.bipa-image-wrap {
	position: relative;
	min-width: 240px;
	min-height: 240px;
	max-width: $canvas-width + 2;
	max-height: $canvas-width + 2;
  width: 85vw;
  height: 85vw;

	border: 1px solid $bipa-pink;
	background-color: $bipa-gray;
  margin: auto;
  overflow: hidden;

  @media screen and (min-width: $md-bp) {
		width: 29vw;
		height: 29vw;
	}

  canvas{
	  width: 100%!important;
	  height: 100%!important;
	}
}

.change-image-wrap {
	max-width: $canvas-width + 2;
  width: 85vw;
  margin: auto;

  @media screen and (min-width: $md-bp) {
		width: 29vw;
	}
}

.bipa-file-input-wrap {
	position: relative;

	.bipa-file-input {
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -999px;
		opacity: 0;
		cursor: pointer;
		z-index: 1;

		&:hover {
			& + .bipa-btn.bipa-btn-outline {
				background-color: $bipa-pink;
				color: #fff;
			}
		}
	}
}

.taking-picture.canplay {
	.bipa-file-input-wrap {
		.bipa-file-input {
			z-index: auto;
		}
	}

	#image-share-btns,
	#image-share-btns-mobile,
	.bipa-image-wrap .bipa-btn-list,
	#close-change-image-menu {
		display: none !important;
	}

}

.take-picture-btn-wrap {
	.bipa-btn-round {
		&:hover {
			.bipa-icon {
				&:after {
					background-image: url("../img/camera-pink.svg");
				}
			}
		}
	}
}

#image-share-btns-mobile {
	#image-download-mobile {
		&:hover {
			.bipa-icon {
				&:after {
					background-image: url("../img/download-pink.svg");
				}
			}
		}
	}

	#use-as-fb-pic-mobile {
		&:hover {
			.bipa-icon {
				&:after {
					background-image: url("../img/fb-pink.svg");
				}
			}
		}
	}
}

.no-navigator {
	#take-picture,
	#change-taken-picture {
		display: none!important;
	}
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 3em;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  height: 2em;
  border: 1px solid $bipa-pink;
  background: #fff;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  transition-property: opacity, transform;
  transition-duration: .1s, .2s;
  transition-timing-function: ease-in, cubic-bezier(0.08, 0.34, 0.51, 1.15);
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
