.bipa-dropdown-wrap {
  display: inline-block;
  width: 10.5em;
  color: $bipa-pink;
  text-align: left;

	@extend .font-size-medium;

	.bipa-btn {
		width: 100%;
		font-weight: 700;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			top: 2em;
			left: -3.4em;
			display: block;
			width: 2.8em;
			height: 2.8em;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url("../img/paint-arrow.svg");

			@media screen and (min-width: 1460px) {
				left: -4em;
			}

			@media screen and (min-width: $xxl-bp) {
				left: -3.4em;
			}
		}
	}

	.bipa-dropdown-menu {
	  width: 10.5em;
		overflow: hidden;

		@media screen and (min-width: $md-bp) {
			position: absolute;
			width: 8.75em;
			z-index: 10;
		}

		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			margin-right: 0;
			height: 0px;
			transition: height 0.24s ease-in-out;
		  text-align: center;

			li {
				padding: 0.125em 0 0;
			  line-height: 1.65em;
				border: 1px solid $bipa-pink;
				border-top: none;
				background-color: white;
				cursor: pointer;
				font-weight: 700;

				&:hover {
					background-color: $bipa-pink;
					color: #fff;
				}
			}
		}
	}

	&.active {

		.bipa-btn {

			.bipa-icon {
				background-color: #fff;

				&:before {
					content: "";
					width: 1px;
					height: 1.8em;
					background-color: $bipa-pink;
					display: block;
					position: absolute;
				}

				&:after {
					background-image: url("../img/arrow-pink.svg");
				}
			}
		}

		.bipa-dropdown-menu {
			 // height: auto;  
			ul {
				height: 5 * 1.75em;
				overflow-y: hidden;
			}

			.dropdown-scrolldown{
				display: block;
				height: 1em;
				background-color: $bipa-pink;
			  border: 1px solid $bipa-pink;

			  .disabled{
				  //background-color: rgba(235, 0, 139, 0.7) !important;
				  opacity: 0.65;
				}

			  .scroll-up,
				.scroll-down{
					display: block;
					width: 50%;
					height: 100%;
					background-color: $bipa-pink;
					background-size: auto 40%;
					background-position: 50% 45%;
					background-repeat: no-repeat;
					cursor: pointer;

					&:hover{
					  background-color: rgba(235, 0, 139, 0.95) !important;
					}
				}

			  .scroll-up{
				  float: left;
				  background-image: url(../img/arrow.svg);
				}

			  .scroll-down{
				  float: right;
				  background-image: url(../img/arrow.svg);
				  transform: rotateZ(180deg);
				}
			}
		}
	}
}

#picture-templates-select{
  text-transform: uppercase;

  .bipa-btn{
		&:hover{
		  background-color: $bipa-pink;
		}

		span{
		  text-transform: uppercase;
		}
  }
}

#picture-templates-select-mobile {
	@extend .font-size-medium;
  position: absolute;
  top: 0;
  left: 0;
  width: 10.5em;
	height: 1.75em;
	height: calc(1.75em + 2px);
	opacity: 0;
}

