.bipa-state {
	.camera-wrap,
	.take-picture-btn-wrap {
		display: none;
	}

	&.taking-picture.canplay {

		#bipa-btn-list {

		}

		.take-picture-btn-wrap {
			display: block;
			animation-fill-mode: both;
			animation-timing-function: ease-in;
			animation-duration: 0.14s;
	    animation-name: slideInUp;

		}

		.camera-wrap {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			animation-fill-mode: both;
			animation-timing-function: ease-in;
			animation-duration: 0.14s;
	    animation-name: fadeIn;

	    .take-picture-video {
	    	position: relative;
	    }
		}
	}

	.take-picture-btn {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: $md-bp) and (max-width: $xl-bp - 1) {
	.container.state-edit-image,
	.container.state-choose-image {
	  .row {

	  	& > div {
	  		// &:nth-child(1),
	  		// &:nth-child(3) {
	  			&, p {
	  				font-size: 0.75rem;
	  			}
	  		// }
	  	}
	  }
	}
}

@media screen and (min-width: $xl-bp) and (max-width: 1460px - 1) {
	.container.state-edit-image,
	.container.state-choose-image {
	  .row {

	  	& > div {
	  		// &:nth-child(1),
	  		// &:nth-child(3) {
	  			&, p {
	  				font-size: 0.85rem;
	  			}
	  		// }
	  	}
	  }
	}
}

@media (min-width: $md-bp) {
	.container.state-edit-image,
	.container.state-choose-image {

	  .row {

	  	& > div {
	  		&:nth-child(1),
	  		&:nth-child(3) {
	  			margin-top: 2rem;
	  		}
	  	}
	  }
	}
}


@media (min-width: $xxl-bp) {
	.container.state-edit-image,
	.container.state-choose-image {
	  max-width: $xxl-bp - 60 - 100;
	  .row {

	  	& > div {
	  		&:nth-child(1),
	  		&:nth-child(3) {
	  			flex: 0 0 28%;
	  			max-width: 28%;
	  		}

	  		&:nth-child(2) {
	  			flex: 0 0 44%;
	  			max-width: 44%;
	  		}
	  	}
	  }
	}
}



.welcome,
.thank {

	.content {
		display: flex;
		align-items: center;

		.bipa-state {
			text-align: center;
			font-size: 1.8rem;

			p, h2 {
				font-size: inherit;
			}

			.bipa-btn {
				font-size: 1.5rem;
			}
		}
	}
}



.state-welcome {
	max-width: 500px;

	@media screen and (min-width: $md-bp) {
		max-width: 600px
	}

	.bipa-terms {
		font-size: 0.5rem;
		padding: 0 0.5rem;

		p {
			font-size: inherit;
		}

		& > div {
			min-width: 3em;
		}
	}
}

.state-choose-image {

	.col {
		&:nth-child(1),
		&:nth-child(3) {
			// margin-top: round($canvas-width / 8);
		}
	}
}

.state-edit-image {

	.col {
		&:nth-child(1),
		&:nth-child(3) {
			margin-top: 0;
		}

		&:nth-child(3) {
			// max-height: 600px;
		}
	}

	#image-share-btns,
	#image-share-btns-mobile {
		opacity: 0;

	}

	.bipa-image-wrap {
		.change-image-menu {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparentize(black, 0.65);
			opacity: 0;

			#close-change-image-menu { 
				position: absolute;
				top: 0;
				right: 1px;	
			}
		} 

		&.changing-img {
			.change-image-menu {
				display: flex;
				animation-fill-mode: both;
				animation-timing-function: ease-in;
				animation-duration: 0.14s;
		    animation-name: fadeIn;
			}
		}

		.bipa-btn#close-change-image-menu {
			border-top: none;
			border-right: none;

			.bipa-icon {
				background-color: #fff;
			}

			&:hover {
				.bipa-close {
					background-color: $bipa-pink;
					&:after {
						background-image: url("../img/close.svg");
					}
				}		
			}
		}
	}

	&.taking-picture {
		.bipa-btn#close-change-image-menu {
			display: none;
		}

		#image-share-btns {
			display: none;
		}
	}	

	&.image-ready {

		#image-share-btns,
		#image-share-btns-mobile {
		  opacity: 1;
		  transition: opacity 0.14s ease-in;
		  margin-top: 60px;
		  margin: auto;
		  text-align: center;
		}
	}
}

.state-thank {
	text-align: center;
	font-size: 1.5rem;
}

.bipa-mobile {

	#take-picture,
	#change-taken-picture {
		display: none;
	}

	#picture-templates-select {
		// display: none;
		.bipa-btn {
			background-color: $bipa-pink;
			color: white;
		}
	}
}

.bipa-desktop {

	#picture-templates-select-mobile {
		display: none;
	}
}

