.bipa-icon {
	position: relative;
	display: inline-block;
	width: 1.75em;
  height: 1.75em;
  max-height: 100%;

	&:after {
		content: "";
		display: inline-block;
		background-repeat: no-repeat;
		width: 1.75em;
    height: 1.75em;
	}

	&.arrow-up {
		&:after {
			background-image: url("../img/arrow.svg");
			background-size: 46%;
			background-position: 50% 45%;
			// transform: rotateZ(180deg);
		}
	}

	&.arrow-right {
		&:after {
			background-image: url("../img/arrow.svg");
			background-size: 40%;
			background-position: 50% 45%;
			transform: rotateZ(90deg);
		}
	}

	&.arrow-down {
		&:after {
			background-image: url("../img/arrow.svg");
			background-size: 40%;
			background-position: 50% 45%;
			transform: rotateZ(180deg);
		}
	}

	&.bipa-close {
		&:after {
			background-image: url("../img/close-pink.svg");
			background-size: 46%;
			background-position: 50% 50%;
		}
	}

	&.camera-icon {
		&:after {
			background-image: url("../img/camera.svg");
			background-size: 59%;
			background-position: 50% 45%;
		}
	}

	&.fb {
		&:after {
			background-image: url("../img/fb.svg");
			background-size: 27%;
			background-position: 50% 50%;
		}
	}

	&.download {
		&:after {
			background-image: url("../img/download.svg");
			background-size: 50%;
			background-position: 50% 47%;
		}
	}

	&.refresh {
		&:after {
			background-image: url("../img/refresh.svg");
			background-size: 50%;
			background-position: 50% 47%;
		}
	}
}