@mixin responsive-image($width){
	width: $width;

	@each $key, $map in $break-point-ratios {
		@media (min-width: map_get($map, value)) {  
		  width: round($width * map_get($map, ratio));   
	 }
	} 	
}







