// @font-face {
// 	font-family:'Brooklyn Samuels No5';
// 		src:url(http://bipa.at/fonts/brooklynsamuelsfive-light.eot);
// 		src:url(http://bipa.at/fonts/brooklynsamuelsfive-light.eot?#iefix) format('embedded-opentype'),url(http://bipa.at/fonts/brooklynsamuelsfive-light.woff) format('woff'),url(http://bipa.at/fonts/brooklynsamuelsfive-light.ttf) format('truetype');
// 	font-weight:400;
// 	font-style:normal;
// }
// @font-face {
// 	font-family:'Brooklyn Samuels No5';
// 		src:url(http://bipa.at/fonts/brooklynsamuelsfive-medium.eot);
// 		src:url(http://bipa.at/fonts/brooklynsamuelsfive-medium.eot?#iefix) format('embedded-opentype'),url(http://bipa.at/fonts/brooklynsamuelsfive-medium.woff) format('woff'),url(http://bipa.at/fonts/brooklynsamuelsfive-medium.ttf) format('truetype');
// 	font-weight:700;
// 	font-style:normal
// }
// @font-face {
// 	font-family:'Acta Display Bold';
// 		src:url(http://bipa.at/fonts/actadisplay-bold.eot);
// 		src:url(http://bipa.at/fonts/actadisplay-bold.eot?#iefix) format('embedded-opentype'),url(http://bipa.at/fonts/actadisplay-bold.woff) format('woff'),url(http://bipa.at/fonts/actadisplay-bold.ttf) format('truetype');
// 	font-weight:700;
// 	font-style:normal;
// }
// @font-face { 
// 	font-family:Freeland;
// 		src:url(http://bipa.at/fonts/Freeland.eot);
// 		src:url(http://bipa.at/fonts/Freeland.eot?#iefix) format('embedded-opentype'),url(http://bipa.at/fonts/Freeland.woff) format('woff'),url(http://bipa.at/fonts/Freeland.ttf) format('truetype');
// 		font-weight:400;
// 		font-style:normal
// }

@font-face {
	font-family:'brooklynsamuelsfive';
	src: url(../fonts/BrooklynSamuelsFive-Thin.otf);
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family:'brooklynsamuelsfive';
	src: url(../fonts/BrooklynSamuelsFive-Light.otf);
	font-weight:300;
	font-style:normal;
}

@font-face {
	font-family:'brooklynsamuelsfive';
	src: url(../fonts/BrooklynSamuelsFive-Medium.otf);
	font-weight:700;
	font-style:normal;
}

body {
	color: $bipa-pink;
	font-family: "brooklynsamuelsfive";
	font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2, p {
	font-size: 1rem;
}

p, li {
	font-weight: 100;
}

.font-weight-bold {
	font-weight: 700!important;
}

.font-size-medium {
  font-size: 1.4rem;
	
	@each $key, $bp in $break-point-ratios {
		@media screen and (min-width: map-get($bp, "value")) { 
			font-size: .7rem * map-get($bp, "ratio");
		}
	} 

	h2, p {
		font-size: inherit;
	}
}


// @each $key, $bp in $break-point-ratios {
// 	@media screen and (min-width: map-get($bp, "value")) { 
// 		font-size: 12px * map-get($bp, "ratio");
// 	}
// } 