
// break points 
$xs-bp: 480px;
$sm-bp: 768px;
$md-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1760px; // custom

$break-point-ratios: (
	xs: (
		value: $xs-bp,
		ratio: 2		
		),
	sm: (
		value: $sm-bp,
		ratio: 2
		),
	md: (
		value: $md-bp,
		ratio: 1.25
		),
	xl: (
		value: $xl-bp,
		ratio: 1.5
		),
	xxl: (
		value: $xxl-bp,
		ratio: 2
		),
);


// @each $key, $bp in $break-point-ratios {
// 	@media screen and (min-width: map-get($bp, "value")) { 
// 		font-size: 12px * map-get($bp, "ratio");
// 	}
// } 


$canvas-width: 476px;
