.bipa-state {

		.row {

			& > div {

				@for $i from 1 through 3 {
					&:nth-child(#{$i}) {
						background-color: adjust-color(red, $lightness: 20% + (5 * $i), $saturation: -80%);

					}
				}
			}
		}
}

.content {
	background-color: transparentize(red, .8);
	background-clip: content-box;
}

