@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/animate.css/animate.css";
@import "../css/photoselector.css";

// general settings
@import "variables";
@import "colors";
@import "mixins";


 
html, body { 
	margin: 0px;
	padding: 0px;
	// height: 100%;
	font-size: 16px;
	line-height: 1.33333;
	font-weight: 100;

	@media screen and (min-width: $xs-bp) {
		font-size: 24px;
	}
} 


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6ccd1+0,d7dde4+25,d7dde4+76,c6ccd1+100 */
// background: #c6ccd1; /* Old browsers */
// background: -moz-linear-gradient(top, #c6ccd1 0%, #d7dde4 25%, #d7dde4 76%, #c6ccd1 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, #c6ccd1 0%,#d7dde4 25%,#d7dde4 76%,#c6ccd1 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, #c6ccd1 0%,#d7dde4 25%,#d7dde4 76%,#c6ccd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6ccd1', endColorstr='#c6ccd1',GradientType=0 ); /* IE6-9 */

/* 
Generated using: https://jsbin.com/maqega/embed?html,output 

Used SVG:
<svg xmlns='http://www.w3.org/2000/svg' width='70' height='90'>
<rect x='35' width='35' height='90' fill='#dce2e9'/>
</svg>
*/  
$bg-pattern: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSIxMDAwIj4KPHJlY3QgeD0iMzUiIHdpZHRoPSIzNSIgaGVpZ2h0PSIxMDAwIiBmaWxsPSIjZGNlMmU5Ij48L3JlY3Q+Cjwvc3ZnPg==";
body {
	font-family: arial;
	background: #c6ccd1;
	background-image: url(#{$bg-pattern}), -moz-linear-gradient(top, #c6ccd1 0%, #d7dde4 25%, #d7dde4 76%, #c6ccd1 100%);
	background-image: url(#{$bg-pattern}), -webkit-linear-gradient(top, #c6ccd1 0%,#d7dde4 25%,#d7dde4 76%,#c6ccd1 100%);
  background-image: url(#{$bg-pattern}), linear-gradient(to bottom, #c6ccd1 0%,#d7dde4 25%,#d7dde4 76%,#c6ccd1 100%); 
	background-repeat: round, no-repeat!important;
	background-position: center top, center center;
	background-size: (9.47vh / 2) auto, cover; 
}

@media (min-width: 1460px) {
	.container {
	    max-width: 1400px;
	}
}

@import "type";
@import "icons";
@import "bipa-components";
@import "bipa-dropdown";
@import "bipa-states";

// @import "debug";

$states: (
	welcome: 'welcome',
	choose-image: 'choose-image',
	edit-image: 'edit-image',
	thank: 'thank'
);

body {
	.bipa-state {
		display: none;
	}

	@each $statesKey, $state in $states {
	  &.#{$state} {
			.state-#{$state} {
				display: block;
			}
		}
  }
}

.pull-right {
	float: right;
}

header{
  width: 100%;
  height: 48px;
}

.content {
	min-height: 100 - 13 + vh;
  padding-top: 13vh;
  display: flex;
	align-items: center;
}

footer {
  height: 13vh;
  position: relative;

  a {
  	display: inline-block;
  	position: absolute;
  	bottom: 20px;
  	left: 50%;
  	margin-left: -56 / 2 + px;
  	// position: absolute;
		// font-size: 0.5rem;
		font-size: 12px;
		transition: font-size 0.24s;
		&, &:hover, &:active, &:link, &:visited {
		  color: $bipa-pink;
		  text-decoration: underline;
		}

		&:hover {
			font-weight: 700
		}
  }
}

// logo
a{
	&, &:hover, &:active, &:link, &:visited {
	  color: $bipa-pink;
	  text-decoration: underline;
	}

  &.logo{
		position: fixed;
		z-index: 999;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		display: block;
		// width: 7.24vw;
		// height: 9.25vw;
		width: 9.47vh;  
		height: 12.10vh;

		text-indent: -9999px;
		background-color: $bipa-pink;
		background-image: url("../img/logo.svg");
		background-size: 100% auto;

		// @media screen and (orientation: portrait) {
		//   max-width: 140px;
		//   max-height: 180px;
		//   // width: 13.11vw;
		//   // height: 17.25vw;
		//   width: 10.07vh;
		//   height: 13.25vh;
		// }
  }
}
// Background assets bubles & photos
.background-assets{

  	.photos{
	  display: none;
	  position: relative;
	  // z-index: 2;

	  .photo{
			position: fixed;
			display: block;
			width: 25vw;
			height: 25vw;
			background-position: center;
			background-size: 100% 100%;
			background-repeat: no-repeat;

			&.photo-1{
			  top: -5vw;
			  left: 20vw;
  			width: 15vw;
				height: 15vw;
			  background-image: url("../img/madchen-1.png");

			  @media screen and (orientation: portrait){
					top: 7vh;
					left: -25vw;
					width: 50vw;
					height: 50vw;
			  }
			}

			&.photo-2{
			  bottom: -6vw;
			  right: 15vw;
  			width: 20vw;
				height: 20vw;
			  background-image: url("../img/madchen-2.png");

			  @media screen and (orientation: portrait) {
					bottom: 8vw;
					right: -14vw;
					width: 50vw;
					height: 50vw;
			  }
			}

			&.photo-3{
			  bottom: -7vw;
			  left: 10vw;
  			width: 20vw;
				height: 20vw;
			  background-image: url("../img/madchen-3.png");

			  @media screen and (orientation: portrait) {
					bottom: -5vw;
					left: -9vw;
					width: 30vw;
					height: 30vw;
			  }
			}

			&.photo-4{
			  top: -8vw;
			  right: 5vw;
			  background-image: url("../img/madchen-4.png");

			  @media screen and (orientation: portrait) {
					top: 13vw;
					right: -11vw;
					width: 30vw;
					height: 30vw;
			  }
			}

			&.photo-5{
				display: none;
			  top: 25vh;
			  left: -7vw;
			  background-image: url("../img/madchen-5.png");

			  @media screen and (min-width: $md-bp) and (orientation: landscape) {
			  	display: block;
			  }
			}

			&.photo-6{
				display: none;
			  top: 40vh;
			  right: -4vw;
			  width: 15vw;
			  height: 15vw;
			  background-image: url("../img/madchen-6.png");

			  @media screen and (min-width: $md-bp) and (orientation: landscape) {
			  	display: block;
			  }
			}

	  }
	}

  	.circles{
	  position: relative;
	  // z-index: 1;

	  // colors
	  $circle-pink: #ffbfe7;
	  $circle-yellow: #e7e988;
	  $circle-orange: #f7c995;
	  $circle-blue: #b4e1d6;

	  // sizes
	  $circle-small: 14vw;
	  $circle-large: 50vw;
	  $offset: 20vw;

	  .center{
			position: fixed;
			width: 45vw;
			height: 30vw;
			transform: translate(-50%,-50%);
			top: 50%;
			left: 50%;
			display: none;

			@media screen and (min-width: $xl-bp) {
				display: block;
			}

			.circle{
			  &.yellow{
					top: 0;
					left: 0;
					bottom: auto;
					right: auto;
					animation: circleAnimationSmall 7s ease infinite;
			  }
			  &.pink{
					top: auto;
					left: auto;
					bottom: 0;
					right: 0;
					animation: circleAnimationSmall 9s ease infinite;
			  }
			}
	  }

	  .circle{
			position: fixed;
			display: block;
			width: $circle-small;
			height: $circle-small;
			border-radius: $circle-small;
			background: hotpink;

			&.large{
			  width: $circle-large;
			  height: $circle-large;
			  border-radius: $circle-large;
			}

			&.small{
			  width: $circle-small;
			  height: $circle-small;
			  border-radius: $circle-small;
			}

			&.pink{
			  left: 0;
			  top: - $circle-large / 2;
			  left: - $circle-large / 2;
			  background-color: $circle-pink;

			  animation: circleAnimationLarge 5s ease infinite;

			  @media screen and (orientation: portrait) {
				  width: 20vh;
				  height: 20vh;
				  top: 15vh; 
				  right: - 24vh / 2;
				  left: auto;
				  border-radius: 20vh;
			  }
			}

			&.yellow{
			  bottom: - $circle-large / 2;
			  right: - $circle-large / 2;
			  background-color: $circle-yellow;

			  animation: circleAnimationLarge 7s ease infinite;

			  @media screen and (orientation: portrait) {
				  width: 52vh;
				  height: 52vh;
				  bottom: - 48vh / 2;
				  right: - 48vh / 2;
				  border-radius: 52vh;
			  }
			}

			&.orange{
			  top: - $circle-small / 2;
			  right: $offset;
			  background-color: $circle-orange;

			  animation: circleAnimationSmall 6s ease infinite;

 			  @media screen and (orientation: portrait) {
				  width: 30vh;
				  height: 30vh;
				  top: - 30vh / 2;
				  left: - 30vh / 2;
				  border-radius: 30vh;
			  }
			}

			&.blue{
			  bottom: - $circle-small / 2;
			  left: $offset;
			  background-color: $circle-blue;

			  animation: circleAnimationSmall 4s ease infinite;

			  @media screen and (orientation: portrait) {
				  width: 15vh;
				  height: 15vh;
				  top: 50vh; 
				  left: -8vh;
				  border-radius: 13vh;
			  }
			}

			@keyframes circleAnimationLarge {
			  0% { transform: translate(0, 0); }
			  50% { transform: translate(0, 3vw); }
			  100% { transform: translate(0, 0); }
			}

			@keyframes circleAnimationSmall {
			  0% { -webkit-transform: translate(0, 0); }
			  50% { -webkit-transform: translate(0, 2vw); }
			  100% { -webkit-transform: translate(0, 0); }
			}
	  }
	}
}
// show/hide background elements [bodyclass]
body{
  // min-height: 600px;
  &.welcome{
	.background-assets{
	  .photos{
		display: block;
	  }
	}
	.circles{
	  .center{
		display: none;
	  }
	}
  }
  &.thank{
	.circles{
	  .center{
		display: none;
	  }
	}
  }
}

// layout
// body{
//   &.welcome{
// 	max-width: 500px;
// 	margin: auto;
//   }
// }

// .col-c{
//   .change-image{
// 	padding: 0 40px;
//   }
// }

// //responsive global

// .bipa-dropdown-wrap:before{
//   @media screen and (max-width: 914px) {
// 	left: 16.5vw;
// 	top: -12vw;
// 	transform: rotate(83deg);
//   }
// }

// @media screen and (max-width: 914px) {

// }

// .hide-responsive{
//   @media screen and (max-width: 992px) {
// 	display: none;
//   }
// }

// body{
//   &.welcome{
// 	h2{
// 	  @media screen and (max-width: 750px) {
// 		margin-bottom: 5px !important;
// 	  }
// 	}
// 	p{
// 	  @media screen and (max-width: 750px) {
// 		margin-bottom: 15px !important;
// 	  }
// 	}
//   }
//   &.thank{

//   }

// }

// @media screen and (max-width: 1459px) {
//   .container{
// 	  width: 95%;
// 	  max-width: none;
//   }
// }

// @media screen and (max-width: 1240px) {
//   .col-l{
// 	flex: 0 0 100%;
// 	max-width: none;

// 	.bipa-list{
// 	  li{
// 		display: none;
// 		&.active{
// 		  display: block;
// 		  margin-bottom: 10px;
// 		  padding: 0 50px;
// 		}
// 	  }
// 	}
//   }
//   .col-c{
// 	flex: 0 0 48%;
// 	max-width: none;
// 	margin: auto;
// 	margin-bottom: 35px;

// 	.bipa-image-wrap{
// 	  width: 34vw;
// 	  height: 34vw;

// 	}
//   }

//   .col-r{
// 	flex: 0 0 45%;
// 	max-width: none;
// 	padding-left: 0 !important;
//   }

//   .hide-responsive{
// 	display: none;
//   }

//   .bipa-dropdown-wrap .bipa-btn{
// 	width: 365px;
// 	font-size: 1.4rem;
//   }
//   .bipa-dropdown-wrap .bipa-dropdown-menu ul li,
//   .bipa-dropdown-wrap.active .bipa-dropdown-menu .dropdown-scrolldown{
// 	width: 306px;
// 	max-width: 306px;
// 	font-size: 1.4rem;
//   }
// }
// @media screen and (max-width: 935px) {
//   .dropdown-text{
// 	display: none;
//   }
// }

// @media screen and (max-width: 914px) {
//   .col-l{
// 	padding: 0 !important;

// 	.bipa-list li.active{
// 	  text-align: center;
// 	}
//   }

//   .col-c{
// 	//flex: 0 0 100%;
// 	.change-image{
// 	  //padding: 0;
// 	}
//   }

//   .col-r{
// 	flex: 0 0 100%;
// 	text-align: center;
// 	padding: 0;
//   }

// }

// #image-download{}
// #use-as-fb-pic{
//   width: 317px;
// }


